@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&family=Roboto&display=swap');
@import url(//db.onlinewebfonts.com/c/759573e11a5e10f3e75b30c7a37d02a3?family=Old+London);
.tee-image {
    height: 85%;
    margin-bottom: 0px;
    cursor: pointer;
    filter: drop-shadow(5px 5px 5px #222);
}
div {
    border: 0px solid red;
}

.tee-column {
    max-height: 50vh;
    padding: auto;
}

.tee-label {
    font-family: 'Old London';
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    text-shadow: 2px 2px red;
}
.tee-image:hover {
    filter: drop-shadow(0px 0px 5px rgba(255, 0, 0));
}
