<div class="row links mx-0 px-0"
    style="margin-top: 0px;
    margin-bottom: 0px;">
        <div class="col-12">
            <ul class="nav float-end">
                <li class="nav-item">
                    <a class="nav-link" routerLink="" style="color: white;">store</a>
                </li>
    
                <li class="nav-item">
                    <a class="nav-link" style="color: white;">cart</a>
                </li>
            </ul>
        </div>
</div>
<div class="row navbarrinho"
    style="margin-top: 0px;
    margin-bottom: 5vh;">
    <div class="col-12">
        <img 
        style="max-height: 20vh;" 
        class="img-fluid d-block mx-auto"
        src="https://cdn.discordapp.com/attachments/580507346451562535/1007445285015916624/utopiavisionwhite.png">
    </div>  
</div>
