.navbarrinho {
    width: 100%;
    margin-top: 2vh;
    padding: none;
}

.links {
    font-family: "Old London";
    font-size: 3rem;
    cursor: pointer;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px;
}

.links a:hover {
    text-shadow: 2px 2px red;
}
.links div {
    padding: 0px;
    margin: 0px;
}
