
    <div class="home d-flex align-items-center justify-content-center " style="min-height: 100vh;">
        <div class="row">
        <div class="col menu-col">
            <img class="menuImg" src="../assets/82d199c60ff1faad6c25635cb2273276.jpg/">
        </div>
        <div class="col menu-col my-auto">
            <h1 class="title-sidebar">UTOPIA</h1>
            <hr>
            <ul>
                <li><a class="home-link" routerLink="/store">shop</a></li>
                <li><a class="home-link">socials</a></li>
                <li><a class="home-link">about</a></li>
            </ul>
        </div>
    </div>
    </div>
