
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&family=Roboto&display=swap');
@import url(//db.onlinewebfonts.com/c/759573e11a5e10f3e75b30c7a37d02a3?family=Old+London);
.menuImg {
    float: right;
    height: 100%;
}


.home-link {
    cursor: pointer;
    font-family: "Old London";
    font-weight:900;
    text-decoration: none;
    color: black;
    font-size: 2rem;

}
li {
    list-style: none;
}

.home-link:hover {
    text-decoration: line-through;
}

.title-sidebar {
    font-family: "Old London";
    font-weight: 900;
    color: black;

}