<app-navbar></app-navbar>
<div class="row">
    <div class="col-md col-sm-12">
        <img class="img-fluid item-img" src={{asortyment[id].url}}>
    </div>
    <div class="col-md col-sm-12">
        <h1>{{asortyment[id].name}}</h1>
        <div class="description">
        <hr>
        <form>
            <div class="row">
                <div class="col">
                    <h2 class="price">{{asortyment[id].price}} PLN</h2>
                </div>
                <div class="col">
                    <select class="form-select size-select float-end" aria-label="Default select example">
                        <option selected disabled>Rozmiar</option>
                        <option [disabled]="asortyment[id].S < 1" value="S">S</option>
                        <option [disabled]="asortyment[id].M < 1" value="M">M</option>
                        <option [disabled]="asortyment[id].L < 1" value="L">L</option>
                        <option [disabled]="asortyment[id].XL < 1" value="XL">XL</option>
                    </select>
                </div>
            </div>
            
        </form>
        <hr>
            Czarny t-shirt z nadrukiem, krój heavy oversize.<br>
            WYPRODUKOWANO W POLSCE, 100% BAWEŁNA (240G/M2).<br>
            PREORDER - wysyłka do 3 tygodni od zakończenia preorderu.<br>
            Preorder kończy się DD/MM/RRRR.<br>
            Wymiary podane w tabeli mogą różnić się od rzeczywistych do 3 cm.
        </div>
    </div>
</div>
