<a routerLink="">back</a>
<div class="row">
    <div class="col-md col-sm-12">
        <img class="img-fluid item-img" src={{asortyment[id].url}}>
    </div>

    <div class="col-md col-sm-12">
        <h1>{{asortyment[id].name}}</h1>
        <hr>
        <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint facere officia voluptates voluptate ullam, quam magni similique velit corrupti doloremque provident sunt itaque rem ex culpa qui alias, vitae debitis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, eius ratione tempora placeat aperiam ipsam culpa, incidunt excepturi unde blanditiis corporis possimus quod dolorem quae rem dolorum qui vero! Debitis.</span>
    </div>
</div>
